/* RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
}

/* UTILS */

/* .container {
  max-width: 1080px;
  padding: 0;
}

body {
} */
body {
  background-color: aquamarine;
}

.container {
  background-color: bisque;
  height: 100vh;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: aquamarine;
  color: blue;
}

h4,
#random-player-number,
#random-computer-number {
  font-size: 20px;
  margin-top: 30px;
}

#winner {
  margin: 40px;
  font-size: 50px;
  text-align: center;
  color: blue;
  padding: 20px;
  border: 2px solid grey;
}
